<!-- origin: RM -->
<h2>{{username}} / {{fullname}}</h2>
<h3>Location</h3>
<p>{{town}} in {{country}}</p>

<h3>Sent Contact Requests</h3>
<ul>
  {{#sent_contact_requests}}
    <li>{{target_username}}</li>
  {{/sent_contact_requests}}  
</ul>

<h3>Received Contact Requests</h3>
<ul>
  {{#received_contact_requests}}
    <li>{{source_username}}</li>
  {{/received_contact_requests}}  
</ul>
