<form method="POST" action="#/users" id="new_user_form">
  <p>
    <label for="user_login">Login</label>
    <input type="text" name="user[login]" id="user_login" />
  </p>
  
  <p>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password" />
  </p>

  <p>
    <label for="user_password_confirmation">Confirm Password</label>
    <input type="password" name="user[password_confirmation]" id="user_password_confirmation" />
  </p>
  
  <p>
    <input type="submit" value="Register">
  </p>
</form>