<form method="POST" action="#/users" id="new_user_form">
  <p>
    <label for="user_username">Username</label>
    <input type="text" name="user[username]" id="user_username" />
  </p>
  
  <p>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password" />
  </p>

  <p>
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="user_email" />    
  </p>

  <p>
    <label for="user_full_name">Full Name</label>
    <input type="text" name="user[full_name]" id="user_full_name" />    
  </p>

  <p>
    <label for="user_town">Town</label>
    <input type="text" name="user[town]" id="user_town" />    
  </p>

  <p>
    <label for="user_life_motto">Life Motto</label>
    <input type="text" name="user[life_motto]" id="user_life_motto" />
  </p>  

  <p>
    <label for="user_secondary_life_motto">Secondary Life Motto</label>
    <input type="text" name="user[secondary_life_motto]" id="user_secondary_life_motto" />
  </p>

  <p>
    <input type="submit" value="Register">
  </p>
</form>