<form method="POST" action="#/users" id="new_user_form">
  <p>
    <label for="user_username">Username</label>
    <input type="text" name="user[username]" id="user_username" />
  </p>

  <p>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password" />
  </p>

  <p>
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="user_email" />
  </p>

  <p>
    <label for="user_fullname">Full Name</label>
    <input type="text" name="user[fullname]" id="user_fullname" />
  </p>

  <p>
    <label for="user_town">Town</label>
    <input type="text" name="user[town]" id="user_town" />
  </p>

  <p>
    <label for="user_country">Country</label>
    <input type="text" name="user[country]" id="user_country" />
  </p>

  <p>
    <input type="submit" value="Register">
  </p>
</form>