<h1>{{user_name}} / {{full_name}}</h1>
<h3>Location</h3>
<p>{{town}} in {{country}}</p>
<h3>How I see the life</h3>
<p>{{primary_motto}}</p>
{{#secondary_moto}}
  <h3>And sometimes I see life like</h3>
  <p>{{secondary_moto}}</p>
{{/secondary_moto}}

<div>
  {{#likes}}
    <h3>Likes</h3>
    <ul>
      <li>{{like}}</li>
    </ul>
  {{/likes}}
</div>

<div>
  {{#dislikes}}
  <h3>Dislikes</h3>
    <ul>
      <li>{{dislike}}</li>
    </ul>
  {{/dislikes}}
</div>