<!doctype html>
<html lang="en">
  <head>
    <title>Skeleton</title>
    <script type="text/javascript" charset="utf-8">
      skeleton = {};
    </script>
		<link rel="stylesheet" href="/css/style.css" type="text/css" title="base stylesheet" charset="utf-8">
  </head>
  
  <body>
    <div id="wrapper">
      <%- body %>
    </div>

    <script type="text/javascript" charset="utf-8" src="/js/underscore.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/mustache.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.ui.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.form.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/jstorage.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>    
  </body>
</html>