<!-- origin: M -->

<h2>New Conference</h2>

<form method="POST" action="#/conferences" id="new_conference_form">
  <p>
    <label for="conference_name">Name</label>
    <input type="text" id="conference_name" name="conference[name]" />
  </p>
  
  Categories:
  <p class="checkbox_select">
    <input type="hidden" name="conference[categories]" />
    {{#categories}}
      <span class="choice"><input type="checkbox" name="conference[categories][][name]" value="{{name}}" id="conference_{{name}}" /> {{name}}</span>
    {{/categories}}
  </p>

  <p>
    <label for="conference_startdate">Start Date</label>
    <input type="text" id="conference_startdate" name="conference[startdate]" />
  </p>
  
  <p>
    <label for="conference_enddate">End Date</label>
    <input type="text" id="conference_enddate" name="conference[enddate]" />
  </p>
  
  <p>
    <label for="conference_description">Description</label>
    <textarea id="conference_description" name="conference[description]"></textarea>
  </p>
  
  <p>
    <label for="conference_location">Location</label>
    <input type="text" id="conference_location" name="conference[location]" />
  </p>
  
  <p>
    <input type="submit" value="Add Conference" />
  </p>
</form>