<!-- origin: M -->

<ul id="categories">
  {{#categories}}
    <li>
      <a href="#/categories/{{esc_details}}">{{name}}</a>
    </li>
  {{/categories}}
</ul>

<ul id="conferences">
  {{#conferences}}
    <li>
      <a href="#/conferences/{{esc_details}}">{{name}}</a>
    </li>
  {{/conferences}}
</ul>