<ul id="categories">
  {{#categories}}
    <li>
      <a href="#/categories/{{id}}">{{name}}</a>
    </li>
  {{/categories}}
</ul>

<ul id="conferences">
  {{#conferences}}
    <li>
      {{name}}
    </li>
  {{/conferences}}
</ul>